
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 3px;
}

#container {
    position: absolute; 
    display: flex;
    justify-content: space-around;
    width: 99.5%; 
    height: 99.5%;
    border-radius: 5px;
}

#leftContainer {
    border: 1px solid #4CAF50;
    width: 53.0%;
    height: 100%; 
    border-radius: 5px;
    vertical-align: auto;
}  

#rightContainer {
    border: 1px solid #4CAF50;
    width: 46.0%;
    height: 100%; 
    border-radius: 5px;
    vertical-align: auto;
} 

#timerBar {
    height: 3.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

#timer {
    font-size: 13px;
}

.tab-content {
    display: none;
    padding: 2px;
    background-color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin-top: 2px;
    height: 39%;
    width: 99%;
    overflow-y:auto;
}

#futures {
    border: 0px solid lightgray;
    height: 3%;
    width: 100%;
}
.tabs {
    display: flex;
    cursor: pointer;
    background-color: #4CAF50;
    border-radius: 5px;
    overflow: hidden;
    height: 3.5%;
    width: 100%;
}
#positions {
    border: 0px solid lightgray;
    width: 100%;
    height:48%;
    border-radius: 5px;
    overflow-y:auto;
}
#bottomPanel {
    display:flex;
    border: 1px solid #4CAF50;
    width: 99%;
    height: 3.5%;
    border-radius: 5px;
    padding:3px;
}

#bottomButtons {
    width: 53%;
    height: 99%;
}

#bottomPLPanel {
    display:flex;
    width: 47%;
    height: 99%;
    border: 0px solid lightgray;
    justify-content: flex-end;
    justify-items: flex-end;
    padding: 3px;
}

.plLabel {
    width: 65px;
    border: 0px solid lightgray;
    text-align: right;
    font-size: 14px;
    vertical-align: top;
    padding: 3px;
}

.plAmount {
    width: 65px;
    border: 0px solid lightgray;
    text-align: left;
    font-size: 14px;
    vertical-align: top;
    padding: 3px;
}

.chart-show {
    display: block;
    padding: 0px;
    background-color: white;
    border: 0px solid #4CAF50;
    border-radius: 5px;
    margin-top: 2px;
    height: 95.6%;
    width: 100%;
}

.chart-hide {
    display: none;
    padding: 0px;
    background-color: white;
    border: 0px solid #4CAF50;
    border-radius: 5px;
    margin-top: 2px;
    height: 95.6%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2px;
    border-radius: 5px;
    overflow: hidden;
}

tr {
    background-color: #f2f2f2;
    font-size: 12px;
    border-radius: 5px;
}

th, td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;

}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    color: grey;
}

label {    
    font-size: 14px;
    vertical-align: middle;
    justify-items: center;
    justify-content: center;
    padding: 3px;
}

.small_button {
    color: #00897b;
    border-color: #00897b;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    padding: 1px 1px;
    cursor: pointer;
}

.buy_button {
    color: #00897b;
    border-color: #00897b;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    cursor: pointer;
}
.sell_button{
    color: #d32f2f;
    border-color: #d32f2f;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    cursor: pointer;
}

.lot_select {
    color: #d32f2f;
    border-color: #d32f2f;
    width: 40px;
    height: 18px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    cursor: pointer;
}

.icon.buy {
    color: rgb(56, 103, 224);
    border-color:rgb(56, 103, 224);
    border: 0px solid rgb(56, 103, 224);
    border-radius: 2px;
    font-size: 10px;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.icon.sell {
    color: #d32f2f;
    border-color: #d32f2f;
    border: 0px solid #d32f2f;
    border-radius: 2px;
    font-size: 10px;
    margin-left: 5px;
    transition: all .2s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

select {
    height: 20px;
    padding: 2px;
    border: 1px solid #4CAF50;
    border-radius: 3px;
    background-color: #e8f5e9;
    color: #2e7d32;
    font-size: 12px;
    transition: border-color 0.3s;
}

select:hover {
  border-color: #388e3c;
}

.tab {
    flex: content;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    color: white;
    transition: background-color 0.3s;
    font-size: 13px;
    justify-content:center;
    display: flex;
    gap: 10px;
}

.tab2 {
    flex:content;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    color: white;
    transition: background-color 0.3s;
    font-size: 13px;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.tab:hover {
    background-color: #45a049;
}

.active {
    display:block;
}

.active-tab {
    flex: content;
    background-color: #1a9a20;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.hover-cell {
    position: relative; /* 1. Sets the positioning context for the absolute div. */
  }
  
  .hover-content {
    display: none; /* 2. Hides the div by default. */
    position: absolute; /* 3. Positions the div relative to its parent .hover-cell. */
    top: 15%; /* Adjust positioning as needed */
    left: 5%; /* Positions the div to the right of the cell */
    z-index: 20; /* 4. Ensures the div appears above other content. */
    height: 18px;
    width: 96px;
    border: 0px solid #ccc;
    justify-items:stretch;
  }
  
  .hover-cell:hover .hover-content {
    display: flex; /* 5. Shows the div when the parent .hover-cell is hovered. */
    justify-items:stretch;
    justify-content:space-evenly;
  }
  
#message-container {
    position: fixed;
    top: 25px;
    left: 600px;
    width: 425px;
    z-index: 1000;
    display: none;
    flex-direction: column;
    border-radius: 4px;
}

.orderwindow {
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Start hidden to use fade-in animation */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-20px); /* Optional: add a slight slide-in effect */
}

.orderwindow.buy {
    background-color: #4CAF50; /* Green */
    border-radius: 4px;
}

.orderwindow.sell {
    background-color: #f44336; /* Red */
    border-radius: 4px;
}

.orderwindow.show {
    opacity: 1;
    transform: translateY(0);
}

.close-btn {
    float:right;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 5px;
}