body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 3px;
}

.top {
    position: absolute; 
    display: flex;
    gap: 6px;
    justify-content:stretch;
    width: 99.2%;
    height: 99.3%;
    border-radius: 5px;
}

.container {
    display: inline-block;
    border: 1px solid #4CAF50;
    height: 99.6%;
    width: 50%;
    border-radius: 5px;
    padding: 1px;
}  

#timer {
    height: 3.0%;
    width: 99.2%;
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content:center;
    font-size: 14px;
}

.tab-content {
    display: none;
    background-color: white;
    border-radius: 5px;
    height: 34%;
    width: 99.7%;
}

.active {
    display:flex;
}

.tabs {
    display: flex;
    cursor: pointer;
    background-color: #4CAF50;
    border-radius: 5px;
    overflow: hidden;
    height: 3.5%;
    width:99.5%;
    font-size: 13px;
    vertical-align: middle;
}

.tab {
    flex: content;
    padding: 3px;
    text-align: center;
    color: white;
    transition: background-color 0.3s;
    justify-content:center;
    display: flex;
    gap: 10px;
    border-radius: 5px;
}

.tab:hover {
    background-color: #45a049;
}

.active-tab {
    background-color: #1a9a20;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 3px;
    gap: 10px;
}

.inert-tab {
    background-color: #50cd50;
    display:flexbox;
    justify-content: center;
    font-size: 13px;
    padding: 3px;
    gap: 10px;
    vertical-align: text-bottom;
}

#positions_div {
    width: 99.4%;
    height: 51.4%;
    border-radius: 5px;
    display: flex;
    padding: 2px;
    overflow: hidden;
}

#bottomPanel {
    display:flex;
    border: 1px solid #4CAF50;
    width: 99.2%;
    height: 3.3%;
    border-radius: 5px;
    vertical-align:auto;
    justify-content: space-between;
    padding: 2px;
}

#bottomPLPanel {
    display:flex;
    border: 0px solid lightgray;
    padding: 2px;
    font-size: 13px;
    vertical-align: middle;
    justify-content: flex-end;
}

label {    
    font-size: 13px;
    vertical-align: middle;
    justify-items: center;
    justify-content: center;
    padding: 2px;
}

table {
    border-radius: 4px;
    width: 100%;
    height:100%;
    border: 0px;
    padding: 0px;
    border-collapse: collapse;
    overflow: hidden;
}

tr {
    background-color: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
}

tr:hover {
    background-color: #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 13px;
    overflow: hidden;
}

td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 13px;
    overflow: hidden;
    padding: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 4px 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    color: grey;
}

.smallbutton {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    cursor: pointer;
}

.smallbutton:hover {
    background-color: #ddd;
}

.smallbutton.order {
    color: #0e63e3;
    border-color: #0e63e3;    
}

.smallbutton.buy {
    color: #00897b;
    border-color: #00897b;
}

.smallbutton.sell{
    color: #d32f2f;
    border-color: #d32f2f;
}

.icon {
    border-radius: 2px;
    font-size: 11px;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.icon.buy {
    color: rgb(56, 103, 224);
    border-color:rgb(56, 103, 224);
    border: 0px solid rgb(56, 103, 224);
}

.icon.sell {
    color: #d32f2f;
    border-color: #d32f2f;
    border: 0px solid #d32f2f;
}

select {
    height: 18px;
    padding: 2px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    background-color: #e8f5e9;
    color: #2e7d32;
    font-size: 11px;
    transition: border-color 0.3s;
}

select:hover {
  border-color: #388e3c;
}

.hover-cell {
    position:relative;
}
  
.hover-content {
    display: none; /* 2. Hides the div by default. */
    position: absolute; /* 3. Positions the div relative to its parent .hover-cell. */
    top: 10%; /* Adjust positioning as needed */
    left: 5%; /* Positions the div to the right of the cell */
    z-index: 200; /* 4. Ensures the div appears above other content. */
    height: 18px;
    width: 90%;
    border: 0px solid #ccc;
    justify-items:stretch;
}
  
.hover-cell:hover .hover-content {
    display: flex; /* 5. Shows the div when the parent .hover-cell is hovered. */
    justify-content:space-evenly;
}

.orderwindow {
    position: fixed;
    font-size: 12px;
    top: 50px;
    left: 400px;
    width: 400px;
    z-index: 200;
    display: none;
    border-radius: 5px;
    padding: 3px;
    opacity: 0; /* Start hidden to use fade-in animation */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow:auto;
}

.orderwindow.buy {
    background-color: #4CAF50; /* Green */
}

.orderwindow.sell {
    background-color: #f44336; /* Red */
}

.orderwindow.multi {
    background-color: dimgray;
}

.orderwindow.show {
    opacity: 1;
    transform: translateY(0);
}

.close-btn {
    float:right;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.trade-buttons {
    display: flex;
}

.florderlist {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 250px;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 1.0s ease-in-out, transform 1.0s ease-in-out;
    transform: translateY(-20px); /* Optional: add a slight slide-in effect */
    background-color: gray;
}

.orderlist-td {
    padding: 3px;
    text-align: center;
    border: 0px solid #ddd;
    font-size: 13px;
    background-color: dimgray;
    color: lightgray;
    vertical-align: middle;
}

/* Container for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 10px;
    vertical-align: middle;
  }
  
  /* Hide default checkbox */
  .switch input { opacity: 0; width: 0; height: 0; }
  
  /* The slider track */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 7px;
  }
  
  /* The sliding knob */
.slider:before {
    position: absolute;
    content: "";
    height: 10px; width: 10px;
    left: 4px; bottom: 3px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
}

input:checked + .slider { 
    background-color: #0368475a; 
}

input:checked + .slider:before {
    transform: translateX(12px);
}

.clickable {
    cursor:pointer;
    color: black;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.123);
    font-size: 12px;
    vertical-align: middle;
    align-items: center;
    padding: 3px;
    min-width: 30px;
}

.hover-row { 
    position: relative; 
    padding: 3px;
}

.hover-row-content {
    position: absolute;
    top: 0;
    left: 25px;
    width: 50%;
    z-index: 200;
    height: 100%;
    display: none;
    align-items: center;
    justify-content:center;
    backdrop-filter: blur(0.5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color: rgba(79, 76, 76, 0.163);
}

.hover-row:hover .hover-row-content { 
    display: flex; 
}

.delete-btn { 
    pointer-events: auto;
    cursor: pointer; 
    margin-right: 10px;
    opacity: 1; 
}

.orderlist-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 200;
    height: 100%;
    display: none;
    align-items: end;
    justify-content:end;
    backdrop-filter: blur(0.5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color: rgba(79, 76, 76, 0.103);
    color: white;
}